.App {
  font-family: sans-serif;
  text-align: center;
}

.statsPanel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 0.5rem;
}
.statsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statsPanel div {
  display: flex;
  align-self: flex-start;
  justify-self: flex-end;
  color: gray;
}

.statsPanel .statValue {
  justify-self: flex-start;
  margin-left: 1rem;
  color: black;
  font-size: 1.2rem;
}

.program-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.statsPanel .statValue .hoverToolTip {
  position: absolute;
  top: -17px;
  left: 27px;
  background: black;
  border-radius: 8px;
  padding: 0 3px;
  color: #d9d6ff;
}

.titleText {
  display: flex;
  justify-content: center;
  align-items: baseline;
  column-gap: 1rem;
}
